Repository Lina0Elman/InsightHub, pull requests merged in 2025-03, with the labels that each got.

#28 Export Colors To `App.css` As Constant Variables
  insighthub-frontend/src/App.css
  insighthub-frontend/src/components/Footer.css
  insighthub-frontend/src/pages/Login.css
  insighthub-frontend/src/pages/Register.css
Labels: enhancement, question, frontend

#33 Move The Footer To Be After The Whole `App`
  insighthub-frontend/src/App.tsx
  insighthub-frontend/src/pages/Login.tsx
  insighthub-frontend/src/pages/Register.tsx
Labels: enhancement, frontend

#27 added footer
  insighthub-backend/src/controllers/auth_controller.ts
  insighthub-frontend/src/App.css
  insighthub-frontend/src/App.tsx
  insighthub-frontend/src/components/Footer.css
  insighthub-frontend/src/components/Footer.tsx
  insighthub-frontend/src/pages/Login.css
  insighthub-frontend/src/pages/Login.tsx
  insighthub-frontend/src/pages/Register.css
  insighthub-frontend/src/pages/Register.tsx
Labels: enhancement, frontend

#30 Add `.vscode/launch.json` To Enable Node Debugging
  .vscode/launch.json
Labels: documentation, enhancement, frontend, backend

#42 Add GitHub actions yaml for frontend run build
  .github/workflows/backend-deploy-coverage-report.yaml
  .github/workflows/backend-run-all-tests.yaml
  .github/workflows/frontend-run-build.yaml
Labels: documentation, enhancement, frontend

#41 Add initial site design
  insighthub-frontend/package.json
  insighthub-frontend/src/App.tsx
  insighthub-frontend/src/components/AddPost.tsx
  insighthub-frontend/src/components/Profile.tsx
  insighthub-frontend/src/components/TopBar.tsx
  insighthub-frontend/src/models/Post.tsx
  insighthub-frontend/src/pages/Dashboard.tsx
Labels: enhancement, frontend

#35 Support Uploading & Downloading Images In The Server
  insighthub-backend/.gitignore
  insighthub-backend/package.json
  insighthub-backend/src/app.ts
  insighthub-backend/src/config.ts
  insighthub-backend/src/controllers/resources_controller.ts
  insighthub-backend/src/openapi/swagger.yaml
  insighthub-backend/src/routes/resources_routes.ts
  insighthub-backend/src/services/resources_service.ts
Labels: documentation, enhancement, red - undone, backend

#47 Logout log branch reorder local storage as object
  insighthub-backend/package.json
  insighthub-frontend/src/App.tsx
  insighthub-frontend/src/components/TopBar.tsx
  insighthub-frontend/src/config.ts
  insighthub-frontend/src/hoc/RequireAuth.tsx
  insighthub-frontend/src/models/LoginResponse.ts
  insighthub-frontend/src/pages/Login.tsx
Labels: documentation, enhancement, frontend, backend

#45 Issue 43
  insighthub-backend/src/controllers/posts_controller.ts
  insighthub-backend/src/models/like_model.ts
  insighthub-backend/src/openapi/swagger.yaml
  insighthub-backend/src/routes/posts_routes.ts
Labels: documentation, enhancement, backend

#51 Add Some Tests For Resources Service - Upload Image
  insighthub-backend/src/tests/resources_service.test.ts
Labels: documentation, backend

#52 Increase Coverage For OpenApi Loader
  insighthub-backend/src/tests/openapi.test.ts
Labels: documentation, backend

#39 Issue 8
  insighthub-frontend/package.json
  insighthub-frontend/src/App.tsx
  insighthub-frontend/src/config.ts
  insighthub-frontend/src/models/Post.tsx
  insighthub-frontend/src/pages/Dashboard.tsx
  insighthub-frontend/src/pages/NewPost.tsx
Labels: enhancement, red - undone, frontend

#40 Issue 4
  insighthub-backend/src/controllers/auth_controller.ts
  insighthub-backend/src/controllers/resources_controller.ts
  insighthub-backend/src/models/user_model.ts
  insighthub-backend/src/openapi/swagger.yaml
  insighthub-backend/src/routes/resources_routes.ts
  insighthub-backend/src/services/resources_service.ts
  insighthub-frontend/src/App.tsx
  insighthub-frontend/src/components/Profile.tsx
  insighthub-frontend/src/models/LoginResponse.ts
  insighthub-frontend/src/pages/Profile.tsx
Labels: documentation, enhancement, red - undone, frontend, backend

#59 Issue 18 3
  insighthub-backend/package.json
  insighthub-backend/src/app.ts
  insighthub-backend/src/config/config.ts
  insighthub-backend/src/controllers/auth_controller.ts
  insighthub-backend/src/controllers/rooms_controller.ts
  insighthub-backend/src/middleware/socket_auth.ts
  insighthub-backend/src/middleware/validation.ts
  insighthub-backend/src/models/message_model.ts
  insighthub-backend/src/models/room_model.ts
  insighthub-backend/src/openapi/swagger.yaml
  insighthub-backend/src/routes/rooms_routes.ts
  insighthub-backend/src/server.ts
  insighthub-backend/src/services/socket_service.ts
  insighthub-backend/src/tests/auth_controller.test.ts
  insighthub-backend/src/tests/auth_status_codes.test.ts
  insighthub-backend/src/tests/comments_controller.test.ts
  insighthub-backend/src/tests/posts_controller.test.ts
  insighthub-backend/src/tests/resources_service.test.ts
  insighthub-backend/src/tests/rooms_controller.test.ts
  insighthub-backend/src/tests/users_routes.test.ts
  insighthub-frontend/package.json
  insighthub-frontend/src/App.tsx
  insighthub-frontend/src/components/DividedList.tsx
  insighthub-frontend/src/components/TopBar.tsx
  insighthub-frontend/src/config.ts
  insighthub-frontend/src/models/Room.ts
  insighthub-frontend/src/pages/Chat.css
  insighthub-frontend/src/pages/Chat.tsx
  insighthub-frontend/src/pages/Login.tsx
Labels: documentation, enhancement, red - undone, frontend, backend

#58 Fix Missing Bearer Auth In Swagger For Retrieve A User By Id
  insighthub-backend/src/openapi/swagger.yaml
Labels: documentation

#57 Update Backend `README.md` With `/api-docs` Swagger Route
  insighthub-backend/README.md
Labels: documentation
